<div class="footer-sec">
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <img class="img-fluid rounded-circle footer-logo" routerLink="/" src="assets/Logo.jpg" >
      </div>

      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>

        </ul>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-1">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><div class="d-flex flex-row"><i class="fas fa-map-marker-alt"></i><a href="#" class="nav-link p-0 text-muted">10699 Elgina st.celenia</a></div><a href="#" class="nav-link p-0 text-muted nxt-txt">Delaware 12546</a></li>
          <li class="nav-item mb-2"><div class="d-flex flex-row"><i class="far fa-envelope-open"></i><a href="#" class="nav-link p-0 text-muted">contactfashionshop@gmail.com</a></div></li>
          <li class="nav-item mb-2"><div class="d-flex flex-row last-sec"><i class="fas fa-mobile-alt"></i><a href="#" class="nav-link p-0 text-muted">956587452</a></div></li>

        </ul>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 offset-1">
        <form>
          <h5 class="foo-head">Stay updated</h5>
          <p class="foo-txt">Subscribe to get our latest news</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary subscribe" type="button">Subscribe</button>
            </div>
        </form>
        <div class="icon-section">
          <div class="column">
            <i class="fab fa-facebook-square mr-3"></i>
            <i class="fab fa-twitter-square mr-3"></i>
            <i class="fab fa-youtube-square mr-3"></i>
            <i class="fab fa-google-plus-square"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4  border-top">
      <p class="develop-txt">Copyright © 2021 Design & Developed by Fashion shop. All ights reserved</p>
    </div>
  </footer>
</div>
</div>
