<div class="login-section">
<div class="container py-5">
  <div class="row">
    <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
      <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
        <h3 class="fw-400 text-center mb-4">Sign In</h3>
        <hr class="mx-n3 mx-sm-n5">
        <p class="lead text-center">We are glad to see you again!</p>
        <form id="loginForm" [formGroup]="logIn" (ngSubmit)="submitLogin()">
          <div class="mb-3">
            <label for="emailAddress" class="form-label">Username</label>
            <input type="email" formControlName="username" class="form-control" id="emailAddress" placeholder="Enter Username">
            <div *ngIf="submitted && fcontrol['username'].errors">
            <span class="loginError" *ngIf="fcontrol.username.errors.required">Username is required</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="loginPassword"  placeholder="Enter Password">
            <div *ngIf="submitted && fcontrol['password'].errors">
              <span class="loginError" *ngIf="fcontrol.password.errors.required">Password is required</span>
            </div>
          </div>
          <div class="row mb-3">
              <div class="col-sm">
                <!-- <div class="form-check form-check-inline">
                  <input class="form-check-input" id="remember-me" name="remember" type="checkbox" (change)="checkSubmit($event)">
                  <label class="form-check-label" for="remember-me">Remember Me</label>
                </div> -->
              </div>
              <div class="col-sm text-end"><a class="btn-link" href="#">Forgot Password ?</a></div>
            </div>
          <div class="d-grid mb-3"><button class="btn btn-primary"  type="submit">Sign In</button></div>
        </form>
        <p class="text-3 text-muted text-center mb-0">Don't have an account? <a class="btn-link" href="signup-3.html">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
</div>
