/* You can add global styles to this file, and also import other style files */

.ckae-slide .owl-prev{
  position: absolute !important;
  left: 50px !important;
  top: 170px !important;
  background: none !important;
  color: black !important;
}

.ckae-slide .owl-next{
  position: absolute !important;
  top: 170px !important;
  right: 50px !important;
  background: none !important;
  color: black !important;

}

.second-section .owl-prev{
  position: absolute !important;
  top: 130px !important;
  background: none !important;
  color: black !important;
  left: -82px !important;
}

.second-section .owl-next{
  position: absolute !important;
  top: 130px !important;
  background: none !important;
  color: #000000 !important;
  right: -30px !important;
}

.flowers-carousel .owl-prev{
  position: absolute !important;
  top: 160px !important;
  background: none !important;
  color: black !important;
  left: -82px !important;
}

.flowers-carousel .owl-next{
  position: absolute !important;
  top: 160px !important;
  background: none !important;
  color: black !important;
  right: -30px !important;
}



/* scroll-bar-css */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background:#f5f5f5;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:#ff7676;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#ff7676;
}
